body {
    width: 50%;
}

header {
    background-color: lightgray;
    border-bottom: green 10px solid;
}
.section-title {
    color: gold;
    text-align: center;
}

.item {
    background-color: aqua;
}

#title {
    text-align: center;
}